<!DOCTYPE html>
<html>
<head>

 <link rel="shortcut icon" type="image/png" href="download.png 2.png">
 
<style>
* {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   overflow: hiddden;
   background-color: midnightblue;
}

li {
  float: right;
}

li a {
   display: inline-block;
   color: white;
   text-align: centers;
   padding: 15px 16px;
   text-decoration: none;
   margin-left: 20px;
}
li a:hover{
   background-color: #111;
}
.active{
  background-color: midnightblue;
}
h1{
  color: white;
  padding: 90px;
  text-align: center;
  font-family: san serif;
  font-size: 45px;
  margin: 0.01px;
  margin-top: 15px;
}
p{
  color: white;
  padding: 0px 20px;
  text-align: center;
  font-family: san serif;
  font-size: 15px;
  margin: 0px 10px;
}

img{
  float: left;
  padding: 35px;
}

form{

}
input[type=email]{
  width: 15%;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 75%;
  left: 28%;
  border: 1px solid white;
}

input[type=Password]{
  width: 15%;
  padding: 10px;
  border-radius: 20px;
  background-color: lightblue;
  position: absolute;
  top: 75%;
  left: 45%;
  border: 1px solid white;
} 

input[type=submit] {
  width: 5%;
  padding: 10px;
  display: block;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 75%;
  left: 63%;
  border: 1px solid white;
}


</style>
</head>
<body>

<img src="C:\Users\Dorcas\Desktop\html v\download.png 2.png"> 

<ul>
  <li><a href="https://twitter.com/home" class="active">How It Works</a></li>
  <li><a href="https://twitter.com/explore" class="active">Pricing</a></li>
  <li><a href="https://twitter.com/notifications" class="active">Blog</a></li>
  <li><a href="https://twitter.com/messages" class="active">Docs</a></li>
  <li><a href="https://twitter.com/DorcasT18192/lists" class="active">Log In</a></li>
  <li><a href="https://twitter.com/DorcasT18192/communities" class="active">Sign In</a></li>
</ul><br>
<h1><span style="color:lightblue;font-weight:bold;">Optimize conversions</span> on<br> Your clients'landing pages<br>with the help of <span style="color:lightblue;font-weight:bold;">Al</span><span style="color:red;font-weight:bold;">.</span></h1>
<p> ABtesting.ai uses Artificial Intelligence to create the easiest, quickest and most efficient<br>landing page A/B testing experience, Welcome to automation.</p> <br><br>

<form>
    <label for="email"></label>
	<input type="email" id="email" name="email" placeholder=" email..">   
	<label for="pwd"></label>
	<input type="password" id="pwd" name="pwd" placeholder=" Password">
	<input type="submit" value="submit">
</form>
</body>
</html>
